.nav {
  background: #434343;
  color: white;
  justify-content: start;
  align-items: start;
  margin: 0;
  padding: 20px;
  width: 100%;
}

.header-bar{
  width: 100%;
}

.ul {
  list-style: none;
  display: flex;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.li {
  margin: 0 10px;
}

.link {
  text-decoration: none;
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
}